body{
    margin: 0;
    background-color: #ffffd2;
}
#myVideo{
    width: 100%;
}

.heading{
    display: flex;
    justify-content: center;
}
h1{
    color: #aa96da;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

.family{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: #a8d8ea;
}
.color{
    color: #aa96da;
}
.papa{
    display: flex;
    max-width: 700px;
    margin: 0 auto;
}