body{
    margin: 0;
    background-color: #ffffd2;
}
#myVideo{
    width: 100%;
}
.heading{
    display: flex;
    justify-content: center;
}
h1{
    color: #aa96da;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}
.family{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: #a8d8ea;
}
.color{
    color: #aa96da;
}
.papa{
    display: flex;
    max-width: 700px;
    margin: 0 auto;
}
.futter{
    display: flex;
    flex-direction: column;
    background-color: pink;
    margin: 20px;
    padding: 20px;
    flex: 1;
}
h3, a, img, p{
    align-self: center;
}
.list{
    background-color:#ffffd2;
    color: #7c7575;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color:#52616b;
    font-size: 30px;
}
.price{
    font-family: 'Montserrat', sans-serif;
    color:#52616b;
    font-weight: bolder;
    font-size: 30px;
}
del{
    background-color:#fbb ;
}
ins{
    text-decoration: none;
    display: inline-block;
    transform: rotate(-10deg);
}
.btn{
    padding: 7px;
    background-color: #aa96da;
    color: #ffffd2;
    border-radius: 10px;
    font-size: 20px;
}


@media all and (max-width: 500px){
    .papa{
        display: flex;
        flex-direction: column;
    }
    .heading{
        margin-left: 5%;
        margin-right: 5%;
        text-align: center;
    }
    }
